node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
coverage/
.idea/
.vscode/
public/static/
/.pnp/
.pnp.js
*.log
/.parcel-cache/
/.next/
/.turbo/
reportWebVitals.js