
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ebe2e2 0%, #646261 100%);
  font-family: "Poppins", sans-serif;
}


.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  animation: fadeIn 0.8s ease-in-out;
}


.brand-name {
  font-size: 32px;
  font-weight: bold;
  color: #968c8c;
  margin-bottom: 10px;
}

.login-card h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #333;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}


.login-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.login-form input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 5px rgba(255, 77, 79, 0.5);
}


.login-form button {
  width: 100%;
  background: #978b8b;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.login-form button:hover {
  background: #d9363e;
}


.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}


.extra-links {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.extra-links a {
  color: #ff4d4f;
  text-decoration: none;
  font-weight: 500;
}

.extra-links a:hover {
  text-decoration: underline;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
